**Exercise 0**

In [5]:
from pathlib import Path

#Check if file exists

input_source = Path(input("provide file path"))
if input_source.exists():
    print(f"source: {input_source}")
else:
    print(f"source with input: {input_source} does not exist")

input_destination = Path(input("provide file path destination"))
if input_destination.exists():
    print(f"destination: {input_source}")
else:
    print(f"destination: {input_source} does not exist")

source: /Users/john.sandsjo/Documents/github/data-platform-dev-john-sandsjo-de24/video_lectures/03_pandas_repitition/data/titanic.csv
destination: /Users/john.sandsjo/Documents/github/data-platform-dev-john-sandsjo-de24/video_lectures/03_pandas_repitition/data/titanic.csv

**Exercise 1**

In [11]:
#b) Validate that the id is integer, name is string, is_active is boolean and age is integer. 
# It should return true if valid and false if not valid.

schema = {
    "id": int,
    "name" : str,
    "is_active" : bool,
    "age" : int
}

int

In [45]:
data = {
    "id" : 101,
    "name" : "Erika",
    "is_active"	: True,
    "age" : 45
}

In [41]:
schema = {
        "id": int,
        "name" : str,
        "is_active" : bool,
        "age" : int
    }

In [43]:
def validate_schema(data, schema):
    for key, expected_type in schema.items():
        if key not in data:
            return False  # Key missing in data
        if not isinstance(data[key], expected_type):
            return False  # Data type mismatch
        return True

In [46]:
if validate_schema(data, schema):
    print("Data is valid.")
else:
    print("Data is invalid.")

Data is valid.

In [ ]:
new_data = [
  {
    "id": 102,
    "name": "Marcus",
    "is_active": "True",
    "age": 34
  },
  {
    "id": 103,
    "name": "David",
    "is_active": "False",
    "age": 29
  },
  {
    "id": 104,
    "name": "Anna",
    "is_active": "True",
    "age": 41.5
  },
  {
    "id": 106,
    "name": "Ingrid",
    "is_active": "NOPE",
    "age": 8
  }
]

## Exercise 3

In [54]:
with open('data/network.log', 'r') as file:
    bytes_tcp = 0
    bytes_udp = 0
    for line in file:
        print('|'.join(line.split("|")[1:5]).strip())
        if line.split("| Protocol:")[1][:4].strip() == "TCP":
            bytes_tcp += int(line.split("| Bytes:")[1])
        else:
            bytes_udp += int(line.split("| Bytes:")[1])
    
print(f"""
Data Transfer Summary:
TCP: {bytes_tcp} bytes
UDP: {bytes_udp} bytes
""")

Source: 10.0.0.1 | Destination: 10.0.0.2 | Protocol: TCP | Bytes: 1024
Source: 10.0.0.2 | Destination: 10.0.0.3 | Protocol: UDP | Bytes: 2048
Source: 10.0.0.3 | Destination: 10.0.0.1 | Protocol: TCP | Bytes: 512

Data Transfer Summary:
TCP: 1536 bytes
UDP: 2048 bytes

## Exercise 4

In [62]:
#a) Read in the file paid.json inside of the data folder. Hint: use load() function from the json library.
import json
import pandas as pd
with open("data/paid.json", "r") as file:
    data = json.load(file)
data

[{'name': 'Alice', 'paid': 100},
 {'name': 'Bob', 'paid': 200},
 {'name': 'Alice', 'paid': 150},
 {'name': 'Erik', 'paid': 180},
 {'name': 'Maja', 'paid': 220},
 {'name': 'Bob', 'paid': 180},
 {'name': 'Alice', 'paid': 130},
 {'name': 'Oskar', 'paid': 140},
 {'name': 'Elsa', 'paid': 170},
 {'name': 'Maja', 'paid': 250},
 {'name': 'Liam', 'paid': 210},
 {'name': 'Alice', 'paid': 190},
 {'name': 'Astrid', 'paid': 190},
 {'name': 'Elsa', 'paid': 150},
 {'name': 'Bob', 'paid': 120},
 {'name': 'Erik', 'paid': 200},
 {'name': 'Maja', 'paid': 180},
 {'name': 'Liam', 'paid': 170},
 {'name': 'Bob', 'paid': 140},
 {'name': 'Oskar', 'paid': 160},
 {'name': 'Freja', 'paid': 240},
 {'name': 'Hugo', 'paid': 250},
 {'name': 'Freja', 'paid': 200},
 {'name': 'Nils', 'paid': 130},
 {'name': 'Freja', 'paid': 180},
 {'name': 'Wilma', 'paid': 200},
 {'name': 'Alexander', 'paid': 260},
 {'name': 'Clara', 'paid': 280},
 {'name': 'Alice', 'paid': 175},
 {'name': 'Selma', 'paid': 175},
 {'name': 'Erik', 'paid': 190},
 {'name': 'Elias', 'paid': 190}]

In [75]:
#b) Now group each name and sum over the total payment. Hint: use defaultdict(int) from collections library
from collections import defaultdict
df = pd.DataFrame(data)
new_df = df.groupby("name").sum("paid").sort_values("paid", ascending=False)
new_df

           paid
name
Alice       745
Maja        650
Bob         640
Freja       620
Erik        570
Liam        380
Elsa        320
Oskar       300
Clara       280
Alexander   260
Hugo        250
Wilma       200
Astrid      190
Elias       190
Selma       175
Nils        130

In [77]:
#c) Output the result into a new json file called payment_sum.json.
new_json = pd.DataFrame.to_json(new_df)
with open("data/summarised_paid.json", "w") as file:
    file.write(new_json)