## Code alongs - python fundamentals 1

In [2]:
my_fruit = input()

print(f"I like to eat: {my_fruit}")

I like to eat: apple

In [6]:
age = input("Give me your age: ")

print(f"In five years you are {age + 5} age years old")

In five years you are 40 age years old

In [4]:
# tuple
# in jupyter notebook: the __repr__ of the object instance is outputted for the last line
age, type(age)

('35', str)

In [7]:
age = 35
loves_math = True
type(age), age, type(loves_math)

(int, 35, bool)

In [10]:
print(f"{loves_math = }")

loves_math = True

## Collections
* list
* tuples
* sets
* dictionary

### list of one data type only

In [11]:
# list of one data type only 
interests = ["badminton", "yoga", "math", "programming"]
# list of mixed data types
person = ["Kokchun", 33, True]

person

['Kokchun', 33, True]

In [12]:
interests

['badminton', 'yoga', 'math', 'programming']

In [13]:
type(person), type(person[1])

(list, int)

### Slicing and indexing

In [14]:
interests[1:3]

['yoga', 'math']

In [15]:
interests[-1], interests[::-1]

('programming', ['programming', 'math', 'yoga', 'badminton'])

In [16]:
person.append(interests)
person

['Kokchun', 33, True, ['badminton', 'yoga', 'math', 'programming']]

In [18]:
person[-1][-2], person[-1][-2][::-1]

('math', 'htam')

In [21]:
persons_interests = person[-1]
persons_interests[-2]

'math'

## Iterate over lists

In [22]:
# pythonic - idomatic python
for interest in persons_interests:
    print(interest)

# java: 
# for (int i = 0; i < persons_interests.length; i++){
#   System.out.println(persons_interests[i])
# }
print("\nDon't do this")
for i in range(len(persons_interests)):
    print(persons_interests[i])

badminton
yoga
math
programming

Don't do this
badminton
yoga
math
programming

In [23]:
# not pythonic
for i in range(len(persons_interests)):
    print(i+1, persons_interests[i])

1 badminton
2 yoga
3 math
4 programming

In [25]:
# pythonic
for i, interest in enumerate(persons_interests, 1):
    print(i, interest)

2 badminton
3 yoga
4 math
5 programming

## List creation

* append
* list comprehension

In [28]:
numbers = []

for i in range(10):
    numbers.append(i)

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
numbers = [i for i in range(10)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
squares = [i**2 for i in numbers]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# i % 2 (the condition) is truthy when i is odd, and falsey when i is even
odd_numbers_squared = [i**2 for i in numbers if i % 2]

odd_numbers_squared

### Dictionary

* key: value pairs

In [32]:
courses = {
    "python": 40,
    "agile": 15,
    "sql": 30,
    "data_platform": 40,
    "data_modeling": 30,
    "visualization": 40,
}

courses

{'python': 40,
 'agile': 15,
 'sql': 30,
 'data_platform': 40,
 'data_modeling': 30,
 'visualization': 40}

In [33]:
courses.keys()

dict_keys(['python', 'agile', 'sql', 'data_platform', 'data_modeling', 'visualization'])

In [34]:
courses.values()

dict_values([40, 15, 30, 40, 30, 40])

In [37]:
for course in courses: 
    print(course, courses[course])

python 40
agile 15
sql 30
data_platform 40
data_modeling 30
visualization 40

In [39]:
print(f"{'Course':<20} Points")
for course, points in courses.items():
    print(f"{course:<20} {points}")

Course               Points
python               40
agile                15
sql                  30
data_platform        40
data_modeling        30
visualization        40

## strings

In [40]:
ml_term = "sUperVised   Learning  "

len(ml_term)

23

In [56]:
#ml_term.strip() #remove leading and trailing whitespace
#ml_term.split() # splits into a lists at space
#ml_term.lower()
#" ".join  Joins them together again at the space 
#all together
" ".join(ml_term.strip().split()).lower()

'supervised learning'