# code alongs - read from excel

In [1]:
import pandas as pd
df = pd.read_excel("data/calories.xlsx")
df.head()

,FoodCategory,FoodItem,per100grams,Cals_per100grams,KJ_per100grams
0,CannedFruit,Applesauce,100g,62 cal,260 kJ
1,CannedFruit,Canned Apricots,100g,48 cal,202 kJ
2,CannedFruit,Canned Blackberries,100g,92 cal,386 kJ
3,CannedFruit,Canned Blueberries,100g,88 cal,370 kJ
4,CannedFruit,Canned Cherries,100g,54 cal,227 kJ

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FoodCategory      2225 non-null   object
 1   FoodItem          2225 non-null   object
 2   per100grams       2225 non-null   object
 3   Cals_per100grams  2225 non-null   object
 4   KJ_per100grams    2225 non-null   object
dtypes: object(5)
memory usage: 87.0+ KB

In [3]:
df.describe()

,FoodCategory,FoodItem,per100grams,Cals_per100grams,KJ_per100grams
count,2225,2225,2225,2225,2225
unique,44,1993,2,524,524
top,BakingIngredients,Roast Beef,100g,100 cal,420 kJ
freq,95,4,1802,26,26

In [4]:
df.columns

Index(['FoodCategory', 'FoodItem', 'per100grams', 'Cals_per100grams',
       'KJ_per100grams'],
      dtype='object')

In [5]:
df.FoodCategory
#får en serie. Men inte att rekommender hakparantes är bättre bracket operator

0       CannedFruit
1       CannedFruit
2       CannedFruit
3       CannedFruit
4       CannedFruit
           ...
2220        Spreads
2221        Spreads
2222        Spreads
2223        Spreads
2224        Spreads
Name: FoodCategory, Length: 2225, dtype: object

In [6]:
df["FoodCategory"].unique()

array(['CannedFruit', 'Fruits', 'Tropical&ExoticFruits', 'PotatoProducts',
       'Vegetables', 'FastFood', 'Pizza', 'Cheese', 'CreamCheese',
       'Milk&DairyProducts', 'SlicedCheese', 'Yogurt', 'Beef&Veal',
       'ColdCuts&LunchMeat', 'Meat', 'Offal&Giblets', 'Pork',
       'Poultry&Fowl', 'Sausage', 'Venison&Game', 'Cakes&Pies',
       'Candy&Sweets', 'IceCream', '(Fruit)Juices',
       'AlcoholicDrinks&Beverages', 'Beer',
       'Non-AlcoholicDrinks&Beverages', 'Soda&SoftDrinks', 'Wine',
       'CerealProducts', 'Oatmeal,Muesli&Cereals', 'Pasta&Noodles',
       'Dishes&Meals', 'Soups', 'Legumes', 'Nuts&Seeds', 'Oils&Fats',
       'VegetableOils', 'BakingIngredients', 'Fish&Seafood',
       'Herbs&Spices', 'Pastries,Breads&Rolls', 'Sauces&Dressings',
       'Spreads'], dtype=object)

In [7]:
df["FoodCategory"].value_counts()

FoodCategory
BakingIngredients                95
Cakes&Pies                       91
Herbs&Spices                     90
Beer                             85
Candy&Sweets                     81
Pastries,Breads&Rolls            78
Dishes&Meals                     78
Oatmeal,Muesli&Cereals           76
FastFood                         72
Vegetables                       63
Legumes                          62
Fish&Seafood                     60
Fruits                           54
Sauces&Dressings                 54
Cheese                           53
Soups                            52
Non-AlcoholicDrinks&Beverages    51
AlcoholicDrinks&Beverages        48
Sausage                          47
(Fruit)Juices                    46
Meat                             46
IceCream                         45
Soda&SoftDrinks                  45
CerealProducts                   44
Pizza                            43
Pasta&Noodles                    40
Yogurt                           40
Nuts&Seeds                       39
Spreads                          39
Wine                             39
Pork                             39
Beef&Veal                        39
PotatoProducts                   39
Tropical&ExoticFruits            39
Venison&Game                     36
ColdCuts&LunchMeat               35
SlicedCheese                     34
Poultry&Fowl                     33
Offal&Giblets                    33
VegetableOils                    33
Milk&DairyProducts               33
Oils&Fats                        30
CannedFruit                      29
CreamCheese                      17
Name: count, dtype: int64

In [8]:
df["per100grams"].value_counts()

per100grams
100g     1802
100ml     423
Name: count, dtype: int64

## Data cleaning

In [9]:
df.columns

Index(['FoodCategory', 'FoodItem', 'per100grams', 'Cals_per100grams',
       'KJ_per100grams'],
      dtype='object')

In [29]:
df_cleaned_names = df.rename(
    {"Cals_per100grams": "calories", "KJ_per100grams": "kJ", "per100grams": "per100"},
    axis=1,
)
#om jag inte har axis = 1. Så är den på rader, alltså rader. Nu letar den efter kolumner. = 1 är samma som = columns
df_cleaned_names.head()

  FoodCategory             FoodItem per100 calories      kJ
0  CannedFruit           Applesauce   100g   62 cal  260 kJ
1  CannedFruit      Canned Apricots   100g   48 cal  202 kJ
2  CannedFruit  Canned Blackberries   100g   92 cal  386 kJ
3  CannedFruit   Canned Blueberries   100g   88 cal  370 kJ
4  CannedFruit      Canned Cherries   100g   54 cal  227 kJ

In [30]:
df_cleaned_names["calories"].str[:-3]
#df_cleaned_names["calories"].str.split(" ")
#här kan jag splitta eller slice-a
#använder .str för att kunna använda slicing
#gör inte for loop i dataframes

0        62
1        48
2        92
3        88
4        54
        ...
2220    617
2221    233
2222    717
2223    180
2224    286
Name: calories, Length: 2225, dtype: object

In [31]:
df_cleaned_names["calories"] = df_cleaned_names["calories"].str[:-3].astype(int)
df_cleaned_names

     FoodCategory             FoodItem per100  calories       kJ
0     CannedFruit           Applesauce   100g        62   260 kJ
1     CannedFruit      Canned Apricots   100g        48   202 kJ
2     CannedFruit  Canned Blackberries   100g        92   386 kJ
3     CannedFruit   Canned Blueberries   100g        88   370 kJ
4     CannedFruit      Canned Cherries   100g        54   227 kJ
...           ...                  ...    ...       ...      ...
2220      Spreads     Sunflower Butter   100g       617  2591 kJ
2221      Spreads             Tapenade   100g       233   979 kJ
2222      Spreads      Unsalted Butter   100g       717  3011 kJ
2223      Spreads             Vegemite   100g       180   756 kJ
2224      Spreads           Wild Honey   100g       286  1201 kJ

[2225 rows x 5 columns]

In [32]:
df_cleaned_names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   FoodCategory  2225 non-null   object
 1   FoodItem      2225 non-null   object
 2   per100        2225 non-null   object
 3   calories      2225 non-null   int64
 4   kJ            2225 non-null   object
dtypes: int64(1), object(4)
memory usage: 87.0+ KB

In [33]:
df_cleaned_names["per100"].value_counts()

per100
100g     1802
100ml     423
Name: count, dtype: int64

In [36]:
#boolean mask
#jag använder mig av denna booleanska mask för att extrahera ut alla som är True
df_cleaned_names["per100"] == "100ml"

0       False
1       False
2       False
3       False
4       False
        ...
2220    False
2221    False
2222    False
2223    False
2224    False
Name: per100, Length: 2225, dtype: bool

In [38]:
#filtrera ut alla som är true
df_liquids = df_cleaned_names[df_cleaned_names["per100"] == "100ml"]
df_liquids.head()

           FoodCategory       FoodItem per100  calories      kJ
409  Milk&DairyProducts    Almond Milk  100ml        17   71 kJ
410  Milk&DairyProducts     Buttermilk  100ml        62  260 kJ
412  Milk&DairyProducts   Coconut Milk  100ml       230  966 kJ
422  Milk&DairyProducts  Hot Chocolate  100ml        89  374 kJ
423  Milk&DairyProducts          Kefir  100ml        55  231 kJ

In [41]:
#samma strategi som ovan men använder qury metod.
df_solids = df_cleaned_names.query("per100=='100g'")
df_solids.head()

  FoodCategory             FoodItem per100  calories      kJ
0  CannedFruit           Applesauce   100g        62  260 kJ
1  CannedFruit      Canned Apricots   100g        48  202 kJ
2  CannedFruit  Canned Blackberries   100g        92  386 kJ
3  CannedFruit   Canned Blueberries   100g        88  370 kJ
4  CannedFruit      Canned Cherries   100g        54  227 kJ

## find top 5 categories of highest calories

In [45]:
df_solids_sorted = df_solids.sort_values(by = "calories", ascending=False)
df_solid_top5 = df_solids_sorted.iloc[:5]
df_solid_top5

     FoodCategory     FoodItem per100  calories       kJ
1621        Soups      Goulash   100g      1009  4238 kJ
1761    Oils&Fats         Lard   100g       902  3788 kJ
528     Beef&Veal  Beef Tallow   100g       902  3788 kJ
1756    Oils&Fats    Goose Fat   100g       898  3772 kJ
599          Meat  Chicken Fat   100g       898  3772 kJ

In [46]:
df_liquids_top5 = df_liquids.sort_values(by="calories", ascending=False).head()
df_liquids_top5

       FoodCategory        FoodItem per100  calories       kJ
1751      Oils&Fats   Cod Liver Oil  100ml      1000  4200 kJ
1808  VegetableOils  Wheat Germ Oil  100ml       929  3902 kJ
1800  VegetableOils      Salmon Oil  100ml       911  3826 kJ
1789  VegetableOils    Menhaden Oil  100ml       911  3826 kJ
1759      Oils&Fats     Herring Oil  100ml       902  3788 kJ

In [49]:
df_cleaned_names.groupby("FoodCategory")["calories"].median().sort_values(ascending=False).reset_index().head()

query = """
SELECT 
    foodcategory,
    MEDIAN(calories) AS median_calories
FROM
    df_cleaned_names
GROUP BY
    foodcategory
ORDER BY 
    median_calories DESC
LIMIT 5
"""
print(query)

SELECT
    foodcategory,
    MEDIAN(calories) AS median_calories
FROM
    df_cleaned_names
GROUP BY
    foodcategory
ORDER BY
    median_calories DESC
LIMIT 5

In [50]:
import duckdb

duckdb.query(query)

┌────────────────────────┬─────────────────┐
│      FoodCategory      │ median_calories │
│        varchar         │     double      │
├────────────────────────┼─────────────────┤
│ VegetableOils          │           884.0 │
│ Oils&Fats              │           883.0 │
│ Nuts&Seeds             │           534.0 │
│ Candy&Sweets           │           448.0 │
│ Oatmeal,Muesli&Cereals │           373.5 │
└────────────────────────┴─────────────────┘

In [53]:
top5_category = duckdb.query(query).df()
top5_category.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   FoodCategory     5 non-null      object
 1   median_calories  5 non-null      float64
dtypes: float64(1), object(1)
memory usage: 212.0+ bytes